
Backend/Springboot/crud/src/main/resources/application.properties

*.properties
Backend/Springboot/crud/src/main/resources/application.properties
*.properties
Backend/Springboot/crud/src/main/resources/application.properties
