#contenidoAdmin {
    display: flex;
    background-color: white;
    margin: 1%;
    margin-left: 7%;
    border-radius: 30px;
    padding: auto;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    width: 80%;
}