.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.parqueadero {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 50%;
  text-align: center;
}

.Select-Parqueadero #vehicle {
  font-size: 2rem;
  height: 3rem;
}
.Select-Parqueadero{
  margin: 2%;
}
.Select-DateTime #datetime {

  font-size: 2rem;
  height: 3rem;
}
.Select-Hours{
  font-size: 2rem;
  margin : 2%;
}
.Select-Hours #hours{
  font-size: 2rem;
  margin : 2%;
}

.cupos li {
  font-size: 16px;
  padding: 8px 10px;
  /* Añade un poco de padding para mejor espaciado */
  display: flex;
  /* Utiliza flexbox para alinear los elementos */
  justify-content: space-between;
  /* Separa el texto del botón */
  align-items: center;
  /* Alinea verticalmente los elementos */
}

.btn {
  padding: 5px 10px;
  /* Añade padding al botón */
  background-color: #007BFF;
  /* Color de fondo azul */
  color: white;
  /* Texto en color blanco */
  border: none;
  /* No border */
  border-radius: 25px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cursor de tipo pointer */
  outline: none;
  /* Remueve el outline */
  width: 15%;
}

.spaan {
  justify-content: baseline;
}

.btn:hover {
  background-color: #0056b3;
  /* Cambio de color al pasar el mouse */
}

.parqueadero .cerrar {
  margin-left: 5%;
  font-size: 2rem;
  background-color: rgb(255, 127, 127);
}
.reservar{
  font-size: 2rem;
}
.date-picker {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10%;
  margin-top: 3%;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  width: 128%;
}
